*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('assets/images/bg.jpg') ;
    font-family: "Source Sans Pro", sans-serif;
    background-size: 100vw auto;    
}
.fa-home,.fa-folder,.fa-envelope,.fa-twitter{
    color: white;
}
.menu{
    display: flex;
    list-style-type: none;
    margin: 25vh 0 0 0;
    justify-content: center;
    gap: 3%;
}
.home,.work,.contact,.twitter{
    transform: scale(2);

}
.home-menu:hover,.work-menu:hover,.contact-menu:hover,.twitter-menu:hover{
    cursor: pointer;
}
.main-section{
    background-color: white;
    width: 50%;
    height: 24.5em;
    margin: auto;
    margin-top: 3vh;
}
.main-section img{
    float: right;
}
.home-screen-profile{
    display: none;
    margin-top: 3vh;
}
.name{
    font-size: 3vw;
    padding: 18% 0 2% 5%;
}
.occupation{
    font-size: 1.5vw;
    padding-left: 5%;
    color: #aaaaaa;
}
.work-screen{
    width: 67%;
    height: 43em;
    display: none;
}
.work-text{
    padding-left: 5%;
    padding-right: 5%;
}
.work-text h1{
    padding-top: 2em;
    margin-bottom: 2.5%;
    font-size: 1.5em;
    font-weight: 600;
}
.work-text p{
    line-height: 1.7em;
    padding-bottom: 1em;
}
.work-images{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.work-images img{
    padding: 1%;
}
.contact-screen{
    padding: 4% 2%;
    height: auto;
    margin-bottom: 10%;
    display: none;
}
.contact-screen h1{
    margin-left: 5%;
    font-size: 2em;
    font-weight: lighter;
}
input,#message{
    margin: 2% 0 0 5%;
    padding: 2%;
    width: 43%;
    background-color: #f4f4f4;
    border: none;
    outline: none;
}
#email{
    margin-left: 3%;
}
#subject, #message{
    display: block;
    width: 89.5%;
}
#message{
    height: 15em;
    resize: none;
}
#button{
    background-color: #222222;
    color: #ffffff;
    padding: 1.5em;
    width: unset;
}
footer{
    background-color: white;
    height: 75vh;
    width: 98.75vw;
    display: none;
}
hr{
    margin-top: 5%;
    width: 90%;
}

/* For Small Laptops */
@media screen and (max-width: 1024px) {
    body{
        background-size: 100vw 100vh;
    }
    .menu{
        gap: 5%;
    }
    .home-menu{
        margin: 15% 0 10% 0;
        margin-bottom: 20em;
    }
    .home-screen{
        width: 80%;
        height: 20em;
    }
    .home-screen img{
        height: 20em;
        width: 15em;
    }    
    .home-screen-profile{        
        text-align: center;
    }
    .work-screen{
        width: 90%;
    }
    .work-images img{
        transform: scale(0.8);
        padding: unset;
    }
    footer{
        height: 50vh;
    }
}

/* For Tablet screens */
@media screen and (max-width: 768px){
    .home-screen{
        width: 80%;
        height: 18em;
    }
    .home-screen img{
        height: 18em;
        width: 12em;
    }    
    .contact-screen{
        width: 80%;
    }    
    .contact-screen h1{
        font-size: 1.5em;
    }
    input,#message{
        margin-top: 3%;
    }
    #button{
        padding: 1em;
    }
    footer{
        height: 90vh;
    }
}

@media screen and (max-width: 425px){
    .menu{
        gap: 8%;
    }
    .home,.work,.contact,.twitter{
        transform: scale(1.5);
    }
    .home-screen{
        display: none;
    }
    .home-screen-profile{
        display: block;
        height: 14.5em;
        width: 17em;
        object-fit: cover;
        margin: auto;
    }
    .work-text h1{
        display: none;
    }
    .work-text p{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .work-images{
        gap: 1em;
    }
    .work-images img{
        transform: unset;
    }
    footer{
        height: 240vh;
    }
    .contact-screen{
        width: 95%;
    }
    .contact-screen h1{
        display: none;
    }
    #name,#email{
        display: block;
        margin: 3% 2%;
    }    
    input,#subject,#message{
        margin-left: 2%;
        width: 95%;
        padding: 4%;
    }
    #button{
        width: 95%;
        margin-top: 5%;
    }
}